<?xml version="1.0"?>
<robot name="ros381">

  <material name="silver">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>

  <material name="orange">
    <color rgba="0.8 0.2 0.0 1.0"/>
  </material>

  <material name="black">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.125 0.4 0.325"/>
      </geometry>
      <origin xyz="0 0 0.1775"/>
      <material name="black"/>
    </visual>
  </link>
  
  <link name="bottom_plate">
    <visual>
      <geometry>
        <box size="0.25 0.4 0.01"/>
      </geometry>
      <origin xyz="0 0 0.01"/>  <!-- 5mm iznad podloge-->
      <material name="silver"/>
    </visual>
  </link>

  <link name="wheel_right">
    <visual>
      <geometry>
        <cylinder radius="0.035" length="0.039"/>
      </geometry>
      <origin rpy="0 0 0"/>
      <material name="orange"/>
    </visual>
  </link>

  <link name="wheel_left">
    <visual>
      <geometry>
        <cylinder radius="0.035" length="0.039"/>
      </geometry>
      <origin rpy="0 0 0"/>
      <material name="orange"/>
    </visual>
  </link>

  <joint name="bottom_plate_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="bottom_plate"/>
    <origin xyz="0 0 0"/>
  </joint> 

  <joint name="wheel_right" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_right"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <origin xyz="0.0 -0.07725 0.035" rpy="1.570796327 0 0"/>
  </joint> 
  
  <joint name="wheel_left" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_left"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <origin xyz="0.0 0.07725 0.035" rpy="1.570796327 0 0"/>
  </joint> 
  
  <webots>
    <device reference="wheel_right" type="RotationalMotor"/>
    <device reference="wheel_left" type="RotationalMotor"/>
    <plugin type="ros381_webots.motor_driver.MotorDriver"/>
  </webots>
</robot>